{project_plugins, [rebar3_hex, erlfmt]}.

{erl_opts, [
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_obsolete_guard,
    debug_info
]}.

{deps, [
    {sasl_auth, {git, "https://github.com/kafka4beam/sasl_auth.git", {ref, "babb9d9037f0baa46bfbd55399c8b4dd470df9e8"}}}
]}.

{profiles, [
    {test, [
        {deps, [{meck, "0.9.2"}, {kafka_protocol, "4.0.3"}]},
        {erl_opts, [nowarn_export_all]}
    ]}
]}.

{erlfmt, [write]}.
